:root{
       --color-text: #526981;
        --santa-blue: #102a43;
        --white: white;
        --synthesia-blue-main: #084df2;
        --synthesia-blue-darker: #002577;
        --v2-grey-5: #f1f3fa;
        --grey-lightest: #f5f7fe;
        --v2-dark-black: #151b27;
        --v2-grey-6: #f8f9fc;
        --red: #c32e0e;
        --v2-grey: #474c56;
        --v2-grey2: #7e838f;
        --v2-green: #00fac8;
        --v2-blue-light: #f1f3fa;
        --black-monochrome: #0b1220;
        --blue: #005aeb;
        --medium-sea-green: #01a060;
        --v2-blue-light-2: #00c5ff;
        --blue-darker: #002577;
        --white-smoke: #f7fafc;
        --v2-green-dark: #00e0b4;
        --helpful-grey-4: #b5bbc7;
        --santawhite: #fff8eb;
        --v2-white-more: #f8f9fc;
        --grey-light: #e9ecf6;
        --grey-medium: #d0d7e7;
        --synthesia-blue-lighter: #e0e8f5d2;
        --synthesia-blue-subtle: #e8f0ff;
        --green-darker: #117274;
        --purple-darker: #444083;
        --green-main: #40b7b9;
        --purple-main: #9796ef;
        --blue-lighter: #d1e7f7e1;
        --green-lighter: #c0eced;
        --purple-lighter: #cfd2f7;
        --blue-subtle: #e6f4ff;
        --green-subtle: #e8f9fa;
        --purple-subtle: #f0f1ff;
        --pink-darker: #72436b;
        --peach-darker: #6f2c2a;
        --pink-main: #d88ccd;
        --peach-main: #e27472;
        --pink-lighter: #f2cfed;
        --peach-lighter: #f7c9c9;
        --pink-subtle: #faf6fd;
        --peach-subtle: #ffedec;
        --grey-dark: #6e778c;
        --green-santa: #00474b;
        --maroon: #73200e;
        --light-slate-grey: #829ab1;
        --v2-white: #edf2ff;
        --prefarable-white:#fffffd;
}

